@use '../../utils/css-global/Theme-colors';
@use '../../utils/css-global/Paddings';

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: Theme-colors.$background-color;
  padding: 16px Paddings.$main-restrict-container-desktop 0;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;

  margin-top: 10vh;
  gap: 8vh;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  gap: 8px;
}

.helloEng {
  font-size: 48px;
  color: Theme-colors.$main-text-color;
}

.helloJp {
  font-size: 58px;
  color: Theme-colors.$accent-two-color;
}

.myNameEng {
  font-size: 64px;
  color: Theme-colors.$accent-one-color;
}

.myNameJp {
  font-size: 48px;
  color: Theme-colors.$accent-two-color;
}

.grade {
  font-size: 64px;
  color: Theme-colors.$main-text-color;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.stackText {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: Theme-colors.$accent-one-color;
  text-align: center;
}

.stackImages {
  display: flex;
  //flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.stackImages img {
  max-width: 80px;
  max-height: 80px;
}

.footnote {
  position: absolute;
  bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: Theme-colors.$main-text-color;
}

.footnote a:link { text-decoration: underline; }
.footnote a:visited { text-decoration: underline; }
.footnote a:hover { text-decoration: underline; }
.footnote a:active { text-decoration: underline; }

.rightSide {
  display: flex;
  align-items: center;
  position: relative;

  margin-top: 6vh;
}

.photo {
  max-width: 640px;
  max-height: 640px;
  z-index: 3;
}

.square {
  position: absolute;
  top: 20%;
  z-index: 2;
  background-color: Theme-colors.$accent-one-color;
  width: 450px;
  height: 450px;
  color: Theme-colors.$background-color;
}

@media only screen and (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .leftSide {
    margin-top: 6vw;
    gap: 8vh;
  }
  
  .helloEng {
    font-size: 8vw;
  }
  
  .helloJp {
    font-size: 10vw;
  }
  
  .myNameEng {
    font-size: 10vw;
  }
  
  .myNameJp {
    font-size: 8vw;
  }

  .grade {
    font-size: 10vw;
  }

  .stackImages img {
    max-width: 20vw;
    max-height: 20vw;
  }

  .stackText {
    font-size: 10vw;
  }

  .photo {
    width: 80vw;
    z-index: 3;
  }

  .square {
    width: 60vw;
    height: 60vw;
  }

  .footnote {
    position: static;
    font-size: 3vw;

    margin: 3vw 0;
  }
}