@use '../../utils/css-global/Theme-colors';
@use '../../utils/css-global/Paddings';

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: Theme-colors.$background-color;
  padding: 16px Paddings.$main-restrict-container-desktop 0;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;

  margin-top: 10vh;
  gap: 8vh;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  gap: 8px;
}

.helloEng {
  font-size: 48px;
  color: Theme-colors.$main-text-color;
}

.helloJp {
  font-size: 58px;
  color: Theme-colors.$accent-two-color;
}

.myNameEng {
  font-size: 64px;
  color: Theme-colors.$accent-one-color;
}

.myNameJp {
  font-size: 48px;
  color: Theme-colors.$accent-two-color;
}

.grade {
  font-size: 64px;
  color: Theme-colors.$main-text-color;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.stackText {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: Theme-colors.$accent-one-color;
  text-align: center;
}

.stackImages {
  display: flex;
  //flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.stackImages img {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.footnote {
  position: absolute;
  bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: Theme-colors.$main-text-color;
}

.footnote a:link { text-decoration: underline; }
.footnote a:visited { text-decoration: underline; }
.footnote a:hover { text-decoration: underline; }
.footnote a:active { text-decoration: underline; }

.rightSide {
  display: flex;
  align-items: center;
  position: relative;
}

.photo {
  max-width: 640px;
  max-height: 640px;
  width: auto;
  height: auto;
  z-index: 3;
}

.circleOne {
  position: absolute;
  top: 24%;
  //left: 20px;
  z-index: 2;
  background-color: Theme-colors.$accent-one-color;
  //background-color: Theme-colors.$accent-two-color;
  //width: 560px;
  width: 500px;
  height: 500px;
  //border-radius: 500px;
  color: Theme-colors.$background-color;
}

.circleTwo {
  position: absolute;
  top: 260px;
  left: 280px;
  z-index: 1;
  //background-color: Theme-colors.$accent-one-color;
  background-color: Theme-colors.$accent-two-color;
  //width: 560px;
  width: 320px;
  height: 320px;
  border-radius: 320px;
  color: Theme-colors.$background-color;
}
