@use '../../utils/css-global/Theme-colors';
@use '../../utils/css-global/Various-vars';

.divider {
    height: 0.25vw;
    width: 50%;
    background-color: Theme-colors.$accent-one-color;;
}

@media only screen and (max-width: 850px) {
  .divider {
    height: Various-vars.$before-element-width;
  }
}