@use '../../../utils/css-global/Theme-colors';
@use '../../../utils/css-global/Paddings';
@use '../../../utils/css-global/Various-vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;


    background-color: Theme-colors.$background-color;
    margin: 3.2vw 0 3vw;

    font-family: 'Roboto', sans-serif;
}

.container a {
    text-decoration: underline;
}

.head {
    display: flex;
    justify-content: space-between;
    //font-weight: bold;
    font-weight: 500;
    color: Theme-colors.$main-text-color;
}

.projectName {
    font-size: 2.5vw;
}

.locationDuration {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5vw;
}

.thesesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thesis {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

.thesisLeft {
    margin-left: 1.6vw;
    //width: 24%;
}

.thesisLeft span {
    font-size: 1.8vw;
    font-weight: normal;

    position: relative;
}

.thesisLeft span::before {
    content: "";
    position: absolute;
    height: 60%;

    top: 20%;
    left: -0.6vw;

    display: inline-block;
    border-right: 0.25vw solid Theme-colors.$accent-two-color;
}

.thesisRight {
    width: 76%;
    line-height: normal;
}

.thesesContainer li {
    font-size: 1.8vw;
    font-weight: 300;

    margin-bottom: 0.8vw;
}

.tech:not(:last-child) {
    margin-bottom: 1vw;
}

.techHeader {
    font-size: 1.8vw;
    font-weight: normal;
}

@media only screen and (max-width: 850px) {
    .container {
        margin: 8vw 0 8vw;
    }

    .head {
        flex-direction: column;
        align-items: flex-start;
        gap: 1vw;
    }

    .projectName {
        font-size: 7vw;
    }

    .locationDuration {
        align-items: flex-start;
        font-size: 4vw;
        gap: 1vw;
        margin-bottom: 2vw;
    }

    .thesis {
        flex-direction: column;

        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
    }

    .thesisLeft {
        margin-left: 4vw;
        margin-bottom: 1vw;
        //width: 24%;
    }

    .thesisLeft span {
        font-size: 3.8vw;
    }

    .thesisLeft span::before {
        content: "";
        position: absolute;
        height: 60%;
    
        top: 20%;
        left: -1.5vw;
    
        display: inline-block;
        border-right: Various-vars.$before-element-width solid Theme-colors.$accent-two-color;
    }

    .thesisRight {
        margin-left: 4vw;
    }

    .thesesContainer li {
        font-size: 3.8vw;
        margin-bottom: 1.2vw;
    }

    .techHeader {
        font-size: 3.8vw;
    }
  }