@use '../../../utils/css-global/Theme-colors';
@use '../../../utils/css-global/Paddings';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    background-color: Theme-colors.$background-color;
    margin: 3.2vw 0 1vw;

    font-family: 'Roboto', sans-serif;
    color: Theme-colors.$main-text-color;
}

.head {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
}

.universityName {
    font-size: 2.5vw;
}

.locationYears {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5vw;
}

.container li {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 2%;
    width: 60%;

    font-size: 1.8vw;
    font-weight: 300;

    position: relative;

    line-height: normal;
}

.container li::before {
    content: "";
    position: absolute;
    height: 60%;

    top: 20%;
    left: -1%;

    display: inline-block;
    border-right: 0.25vw solid Theme-colors.$accent-two-color;
}

  @media only screen and (max-width: 850px) {
    .container {
        margin: 8vw 0 8vw;
    }

    .head {
        flex-direction: column;
        align-items: flex-start;
        gap: 1vw;
    }

    .universityName {
        font-size: 7vw;
    }

    .locationYears {
        align-items: flex-start;
        font-size: 4vw;
        gap: 1vw;
    }

    .container li {
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 2%;

        font-size: 4vw;
        font-weight: 300;
    
        position: relative;
    }

    .container li::before {
        content: "";
        position: absolute;
        height: 60%;
    
        top: 20%;
        left: -2.4%;
    
        display: inline-block;
        border-right: 0.6vw solid Theme-colors.$accent-two-color;
    }
  }